@import "header.css";
@import "title.css";

:root {
    --beige: #e5c5ad;
    --cream: #dbaf96;
    --lightGray: #9c958e;
    --darkGray: #625f5e;
    --raleway: 'Raleway', sans-serif;
    --roboto: 'Roboto', sans-serif;
}
html {
    scroll-behavior: smooth; 
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.container {
    max-width: 80%;
    margin: 0 auto;
}
@media (max-width: 768px) {
    .container {
        max-width: 85%;
    }
  }